/* ========== GOOGLE FONTS =========== */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
/* ========== VARIABLES CSS ========== */
:root {
  --header-height: 3rem;

  /* ========== Colors ========== */
  --primary-color: #f53838;
  --primary-color-lighter: #ffecec;
  --border-color: #dddddd;
  --star-color: #fea250;
  --check-color: #2fab73;
  --title-color: #0b132a;
  --text-color: #4f5665;
  --body-color: #ffffff;

  /* ========== Fonts and Typography ========== */
  --body-font: "Rubik", sans-serif;
  --xl-font-size: 3.125rem;
  --lg-font-size: 2.1875rem;
  --md-font-size: 1.5625rem;
  --sm-font-size: 1.25rem;
  --xsm-font-size: 1rem;

  /* ========== Font Weight ========== */
  --regular-font: 400;
  --medium-font: 500;
  --bold-font: 700;

  /* ========== Z Index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (max-width: 768px) {
  :root {
    --xl-font-size: 3rem;
    --lg-font-size: 2rem;
    --md-font-size: 1.3rem;
    --sm-font-size: 1rem;
    --xsm-font-size: 0.9rem;
  }
}

/* ========== BASE ========== */
html {
  scroll-behavior: smooth;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--xsm-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  font-size: var(--xsm-font-size);
  color: var(--text-color);
  font-weight: var(--regular-font);
  line-height: 2;
}
.main {
  position: relative;
  padding-top: var(--header-height);
}
/* ========== REUSABLE CSS ========== */

.bd-container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section {
  padding: 60px 0;
}
.section-title {
  font-size: var(--lg-font-size);
  font-weight: var(--bold-font);
  color: var(--title-color);
  text-align: center;
  width: min(25rem, 95%);
  margin: 0 auto;
}
.section-subtitle {
  width: min(32rem, 95%);
  margin: 25px auto 40px auto;
  text-align: center;
}
.primary-btn {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--body-color);
  font-size: var(--xsm-font-size);
  font-weight: var(--bold-font);
  padding: 15px 50px;
  border-radius: 10px;
  cursor: pointer;
}
/* ========== HEADER ========== */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  width: 120px;
}
.nav-menu,
.nav-list {
  display: flex;
  align-items: center;
}
.nav-menu {
  width: min(44rem, 80%);
  justify-content: space-between;
}
.nav-item {
  margin-right: 1.5rem;
}
.nav-link {
  font-size: var(--xsm-font-size);
  color: var(--text-color);
  transition: color 150ms;
}
.nav-sign-div {
  display: flex;
  align-items: center;
}
.sign-in-btn {
  display: block;
  color: var(--title-color);
  font-size: var(--xsm-font-size);
  font-weight: var(--medium-font);
  transition: color 150ms;
}
.nav-link:hover,
.sign-in-btn:hover {
  color: var(--primary-color);
}

.sign-up-btn {
  display: block;
  padding: 10px 30px;
  font-size: var(--xsm-font-size);
  font-weight: var(--medium-font);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  margin-left: 20px;
}
/* Nav Toggle */
.nav-toggle {
  height: 50px;
  width: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.nav-toggle .burger-line {
  height: 2px;
  width: 30px;
  background-color: var(--primary-color);
  border-radius: 20px;
  position: relative;
  transition: all 500ms ease-in-out;
  pointer-events: none;
}
.nav-toggle .burger-line::before,
.nav-toggle .burger-line::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 30px;
  border-radius: 20px;
  background-color: var(--primary-color);
  transition: all 500ms ease-in-out;
  pointer-events: none;
}
.nav-toggle .burger-line::before {
  transform: translateY(10px);
}
.nav-toggle .burger-line::after {
  transform: translateY(-10px);
}

/* Show Menu */
.nav-menu.show-menu {
  top: calc(var(--header-height) + 1rem);
  opacity: 1;
}
/*Nav Toggle Animation */
.nav-toggle.open .burger-line {
  transform: translateX(-30px);
  background-color: transparent;
}
.nav-toggle.open .burger-line::before {
  transform: rotate(45deg) translate(20px, -20px);
}
.nav-toggle.open .burger-line::after {
  transform: rotate(-45deg) translate(20px, 20px);
}
/* ========== ABOUT SECTION ========== */
.about {
  align-items: center;
  gap: 20px;
}

.context-title {
  font-size: var(--xl-font-size);
  font-weight: var(--medium-font);
  color: var(--title-color);
  line-height: 1.4;
}
.context-title span {
  font-weight: var(--bold-font);
}
.context-description {
  margin: 15px 0;
  padding-bottom: 10px;
}

.counter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 10px;
  padding: 50px 0;
  -webkit-box-shadow: 0px 11px 80px -65px #0d1025;
  box-shadow: 0px 11px 80px -65px #0d1025;
}
.counter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 20px;
  padding: 10px 15px;
  border-right: 1px solid #eeeff2;
}
.counter-item h2 {
  font-size: var(--md-font-size);
}
.counter-item:last-child {
  border-right: none;
}
.counter-icon {
  padding: 20px;
  background-color: var(--primary-color-lighter);
  color: var(--primary-color);
  border-radius: 50%;
  font-size: 1.2rem;
}
/* ========== FEATURES SECTION ========== */
.features {
  align-items: center;
  gap: 20px;
}
.feature-content h2 {
  font-size: var(--lg-font-size);
  color: var(--title-color);
}
.feature-content > p {
  margin: 15px 0;
}
.feature-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.feature-item i {
  font-size: 25px;
  color: var(--check-color);
}
/* ========== PRICING SECTION ========== */
.pricing {
  text-align: center;
}
.pricing-box {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid var(--border-color);
}
.pricing-box img {
  width: 150px;
  justify-self: center;
}
.pricing-content > h3 {
  margin: 25px 0;
}
.pricing-box .feature-div {
  display: grid;
  justify-content: center;
}
.price-div {
  margin-top: 20px;
}
.price-btn {
  display: inline-block;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid var(--primary-color);
  padding: 12px 60px;
  color: var(--primary-color);
  font-size: var(--sm-font-size);
  font-weight: var(--bold-font);
  background-color: var(--body-color);
  transition: 150ms;
}
.price-btn:hover {
  color: var(--body-color);
  background-color: var(--primary-color);
}

/* ========== LOCATION ========== */
.location {
  text-align: center;
}
.sponsor {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sponsor a {
  pointer-events: none;
}
/* ========== TESTIMONIAL ========== */
.testimonial {
  overflow-x: hidden;
}
.testimonial .mySwiper {
  margin-left: 15%;
}
.testimonial .swiper-slide {
  max-width: 400px;
  padding: 25px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  min-height: 250px;
  transition: border 150ms;
}
.testimonial .swiper-slide-active {
  border: 2px solid var(--primary-color);
}
.testi-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testi-info .name {
  flex: 1;
  margin-left: 10px;
}
.testi-info .star i {
  color: var(--star-color);
}
.testi-des {
  margin-top: 15px;
}
.swiper-controls {
  position: relative;
  margin: 30px 0;
  padding: 20px 0;
  width: min(80rem, 100%);
}
.testimonial .swiper-pagination {
  position: relative;
  text-align: left;
  bottom: 0;
}
.testimonial .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  transition: 150ms;
}
.testimonial .swiper-pagination-bullet-active {
  width: 45px;
  background-color: var(--primary-color);
  border-radius: 16px;
}

.swiper-navigation {
  position: absolute;
  display: flex;
  gap: 10px;
  right: 7%;
  top: 0;
}
.swiper-navigation .button-prev,
.swiper-navigation .button-next {
  height: 50px;
  width: 50px;
  font-size: 25px;
  color: var(--body-color);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
}
.swiper-navigation .swiper-button-disabled {
  color: var(--primary-color);
  background-color: var(--body-color);
}
/* ========== NEWSLETTER ========== */
.newsletter {
  background-color: var(--body-color);
  border-radius: 10px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 25px 157px -70px rgba(0, 0, 0, 0.55);
}
.newsletter h2 {
  font-size: var(--lg-font-size);
  font-weight: var(--medium-font);
  color: var(--title-color);
  width: min(26rem, 100%);
  margin-bottom: 14px;
}
.newsletter p {
  font-size: var(--xsm-font-size);
}
.newsletter button {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: var(--body-color);
  height: 55px;
  width: 200px;
  border-radius: 5px;
  font-size: var(--xsm-font-size);
  font-weight: var(--bold-font);
  cursor: pointer;
  box-shadow: 0px 17px 44px -9px rgb(245 56 56);
}
/* ========== FOOTER ========== */
footer {
  padding: 30px 0;
}
.footer-4-col {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  gap: 15px;
}
.footer-col:last-child {
  justify-self: end;
}
.social {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}
.social > a {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--body-color);
  font-size: 16px;
  border-radius: 50%;
  box-shadow: 0px 3px 20px -8px rgb(11 19 42);
  transition: 150ms;
}
.social > a:hover {
  background-color: var(--primary-color);
  color: var(--body-color);
}
.footer-col h3 {
  color: var(--title-color);
}
.footer-col ul {
  margin-top: 20px;
}
.footer-col ul li {
  margin-bottom: 15px;
}
.footer-col ul li a {
  color: var(--text-color);
  transition: color 150ms;
}
.footer-col ul li a:hover {
  color: var(--primary-color);
}
/* ==========  ========== */
/* ==========  ========== */
/* ==========  ========== */
/* ==========  ========== */
/* ==========  ========== */
/* ========== MEDIA QUERIES ========== */

/* For Large Screen Devices */
@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}
/* For Medium Screen Devices */
@media screen and (max-width: 768px) {
  .grid-col-2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .grid-col-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem;
    background-color: var(--primary-color-lighter);
    border-radius: 1rem;
    transition: 400ms;
  }
  .nav-list {
    display: block;
  }
  .nav-item,
  .nav-sign-div {
    margin-bottom: 1.5rem;
  }

  .nav-toggle {
    display: flex;
  }

  .context-title {
    text-align: center;
  }
}
/* For Small Screen Devices */
@media screen and (max-width: 600px) {
  .grid-col-3 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .testimonial .mySwiper {
    margin-left: 4%;
  }
  .newsletter {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .footer-4-col {
    grid-template-columns: 1fr;
  }

  .footer-col:last-child {
    justify-self: start;
  }
}
/* For Extra Small Screen Devices */
@media screen and (max-width: 360px) {
}
